


<img src="../images/spotify-background.jpeg" alt="" width="600px">
<div>
<form action="/artist-search", method="GET">
<label for=""></label>
<input type="text" id="search">
</form>
<button>Search for an Artist</button>
</div>